:root {
    font-family: 'Lexend Deca', Verdana, Geneva, Tahoma, sans-serif;
    min-width: 320px;
}

/* general rules */
button {
    font-family: inherit;
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(68, 146, 214);
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    font-family: inherit;
}

.fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.fields>fieldset {
    border: none;
    display: grid;
    gap: 1vh;
}

.fields>fieldset>input {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 15px;
}

.options-text {
    text-align: center;
}

.options-text>p>a:hover {
    color: blue;
}


/* homepage */
.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.homepage-container>h1 {
    font-size: 5rem;
}

.homepage-container>.options {
    display: flex;
    gap: 2vw;
}


/* error-page */
.error-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.error-page-container>a:hover {
    color: blue;
}

/* signup */
.sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.sign-up-container>h1 {
    font-size: 3rem;
}

.sign-up-container>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    font-size: 1rem;
}


/* login */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.login>h1 {
    font-size: 3rem;
}

.login-container>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    font-size: 1rem;
}


/* profile */
.profile-page-container,
.folders-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.folders-display {
    gap: 2vh;
}

.create-folder {
    margin-bottom: 4vh;
}

.folder-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 2vh;
    align-items: center;
    gap: 2vw;
}

.folder-btns {
    display: flex;
    gap: .75vw;
}


/* add-folder */
.add-folder-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.form-btns {
    display: flex;
    justify-content: center;
    gap: .75vw;
}

#add-folder-input {
    padding-bottom: 6vh;
}


/* edit-folder */
.edit-folder-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

#edit-folder-input {
    padding-bottom: 6vh;
}